.post-page {
    margin: auto;
    text-align: justify;
    max-width: 80vw;
    overflow-x: hidden;
    padding: 10% 5%;
    background-color: #fff;
}

@media only screen and (min-width: 1600px) {
    .post-page {
        max-width: 1600px;
    }
}

#back-arrow {
    font-size: 3.5rem;
}
.back {
    margin : 10px 10px 10px 0;
    font-size: 28px;
    color: slategray;
    width: 60px;
    height: 60px;
    text-align: center;
    border: none;
    background: transparent;
    transition: color 250ms;
    
}


.back:hover {
    outline: none;
    color: #3a82ee
}
.back:focus {
    color: #2158aa;
}

.loading {
    width: 100%;
    text-align: center;
    padding-top: 12rem;
}