.post-page {
    margin: auto;
    text-align: justify;
    max-width: 80vw;
    overflow-x: hidden;
    padding: 10% 5%;
    background-color: #fff;
}

@media only screen and (min-width: 1600px) {
    .post-page {
        max-width: 1600px;
    }
}