@import url('https://fonts.googleapis.com/css2?family=Tienne:wght@400;700&display=swap');

.header-all {
    max-width: 100vw;
}
.header {
    width: 100vw;
    height: 80px;
    top: 0;
    background-color: #EAEAEA;
    padding: 15px 15px ;
    display: flex;
    align-items: center;
    align-content: space-between;
}
.header a, h1 {
    font-family: 'Tienne', serif;
    font-weight: bold;
    text-align: center;
    margin: auto; 
    flex-grow: 1;
    text-decoration: none;
    color: #006CDC;
}

.mini {
    color: #1086FF;
}
.flex-spacer {
    width: 4rem;
    text-align: center;
}
.sidenav {
    z-index: 1;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    width: 0;
    padding: 15px 25px;
    background-color: #EAEAEA;
    display: none;
    flex-direction: column;

    animation-name: slide-in-mobile;
    animation-fill-mode: both;
    animation-duration: 400ms;
    animation-direction: alternate;

    
   
}

.sidenav-open {
    width: 100%;
    max-width: 100vw;
    position: fixed;
    
    animation-name: slide-in-mobile;
    animation-fill-mode: both;
    animation-duration: 400ms;
}


@keyframes slide-in-mobile {
    0% {
        width: 0;
    }
    100% {
        width: 100vw;
    }
    
}

@media only screen and (min-width: 500px){
    .sidenav-open{
        width: 400px;
        animation-name: slide-in-desktop;
        animation-fill-mode: both;
        animation-duration: 400ms;
    }
}

@keyframes slide-in-desktop {
    0% {
        width: 0;
    }
    100% {
        width: 400px;
    }
    
}

.search {
    margin-top: 15px;
    display: flex;
    align-content: center;
    width: 100%;
    vertical-align:middle;
}
#search-posts {
    height: 100%;
    width: 80%;
    border-radius: 3px;
    border: none;
    height: 2rem;
}
.button {
    border: none;
    background-color: #1966d8;
    color: white;
}
.button:hover {
    background-color: #3a82ee;
}

.button-clear {
    margin: 10px;
    font-size: 2rem;
    color: slategray;
    width: 40px;
    height: 40px;
    text-align: center;
    border: none;
    background:#EAEAEA;
    transition: color 250ms;
    
}

.button-clear:hover {
    outline: none;
    color: #3a82ee
}
.button-clear:focus {
    color: #2158aa;
}

.search-button {
    margin: 0;
}

.close {
    align-self: flex-end;

    right: 0;
    margin-top: 2px;
}

.subreddit-list {
   width: 100%;
   height: 100%;
}   